extends layout2

block content
    #myTabs
      ul
        li
          a#tHome(href='#home')
            span home
        li
          a#tAbout(href='#about')
            span about me
        li
          a#tHelp(href='#help')
            span help
      #home        
        .homeDemo
          div(style='height: 550px; width: 500px; border-radius: 5px; border: 2px white solid;position: relative')
            br
            table
              tr
                td Name: !{firstName} !{lastName}
              tr        
                td#appendNum Age: 
              tr
                td Gender: !{gender}
              tr
                td Starting weight: !{weight}
                td Date:
              tr
                td Last Weigh in:
                td Date:
              tr
                td Goal Weight: !{goal}
                td End Date:
              tr
                td Difference from last weigh in:
              tr
                td Difference from goal weight:
            .graph
              div(style='height: 200px; width: 350px; border-radius: 5px; border: 2px white solid; position: absolute; bottom:25px; left:65px' )
          #todaysUpdate
            div(style = 'height: 125px; width: 400px; border-radius: 5px; border: 2px white solid; float: left')
      #about
        - male = (gender == 'male') ? 'selected' : null
        - female = (gender == 'female') ? 'selected' : null
        p Welcome !{firstName}!  Tell us about yourself.
        .demoG
          div(style='margin: 5px;')
            p Your profile:
            br
            form(method='post', action='/demoUpdate')
              table
                tr
                  td First Name: 
                  td
                    input(type='text', name='fname', value='#{firstName}')
                tr
                  td Last Name: 
                  td
                    input(type='text', name='lname', value='#{lastName}')
                tr
                  td Email: 
                  td
                    input(type='email', name='email', value='#{email}')
                tr#append
                  td DOB: 
                  td
                    input#dob(type='date', name='dob', value='#{dob}')
                tr
                  td Gender: 
                  td
                    select#selector(name='gender')
                      option(value='female', selected=female) Female
                      option(value='male', selected=male) Male
                tr
                  td Starting Weight: 
                  td
                    input(type='text', name='weight', value='#{weight}')
                tr
                  td Goal Weight: 
                  td
                    input(type='text', name='goal', value='#{goal}')
              br
              input#save(class='button', value='Save', type='submit')
              input#addPicture(class='button', value='Add Picture')
        .picture
          img.picture(src='images/nightlife-q-c-450-450-6.jpg')
        #clear
      #help
