extends layout2

block content
    #myTabs
      ul
        li
          a#tHome(href='#home')
            span home
        li
          a#tAbout(href='#about')
            span about me
        li
          a#tHelp(href='#help')
            span help
      #home
        #testDiv
          p Welcome !{firstName}, !{lastName}, !{userAge}
      #about
        p Welcome !{firstName}!  Tell us about yourself.
        .demoG
          div(style='margin: 5px;')
            p Your profile:
            br
            form(method='post', action='/demoUpdate')
              table
                tr
                  td First Name: 
                  td
                    input(type='text', name='fname', value='#{firstName}')
                tr
                  td Last Name: 
                  td
                    input(type='text', name='lname', value='#{lastName}')
                tr
                  td Email: 
                  td
                    input(type='email', name='email', value='#{email}')
                tr#append
                  td DOB: 
                  td
                    input#dob(type='date', name='dob', value='#{dob}')
                tr
                  td Gender: 
                  td
                    select#selector
                      option Female
                      option Male
                tr
                  td Starting Weight: 
                  td
                    input(type='text', name='weight', value='#{weight}')
                tr
                  td Goal Weight: 
                  td
                    input(type='text', name='goal', value='#{goal}')
              br
              input#save(class='button', type='submit')Save
              button#addPicture Add Picture
        .picture
          img.picture(src='images/nightlife-q-c-450-450-6.jpg')
        #clear
      #help
